# Игнорировать зависимости
node_modules/

# Игнорировать сборки
dist/
.angular/
build/

# Игнорировать кэши
.cache/
.tmp/

# Игнорировать настройки IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Игнорировать логи
*.log
logs/
